@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
	ViewData["Title"] = "ContactInfo";
	
}
<div>
	<h1 class="display-4">Kontaktinformation</h1>
	<p>Navn: Karen</p>
	<p>Telefon: 12345678</p>
	<p>Email: karen@ibas.dk
</div>