@page
@using IBAS_kantine
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kantinens Menu for uge 45</h1>
    <table>
        <thead>
            <tr>
                <th>Dag</th>
                <th>Varm ret</th>
                <th>Kold ret</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var menuItem in Model.MenuItems)
            {
            <tr>
                <td>@menuItem.Dag</td>
                <td>@menuItem.VarmRet</td>
                <td>@menuItem.KoldRet</td>
            </tr>
            }
        </tbody>
    </table>
</div>